.loader {
  background-image: conic-gradient(grey, white);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 3px;
  animation: spin 2s linear infinite;
}
.loader-inline {
  background-color: white;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
