.message-container {
  position: absolute;
  display: flex;
  top: 15px;
  right: 15px;
  background-color: rgb(21, 22, 24, 0.4);
  border-radius: 5px;
  padding: 25px 15px;
  color: white;
  border-left: 10px solid #e83358;
  transition: all 0.5s linear;
  font-size: 12px;
  width: 250px;
  box-shadow: 5px 5px 10px -2.5px #e83358;
}

@media (max-width: 550px) {
  .message-container {
    top: 10px;
    left: 50%;
    transform: translate(-50%, -0%);
  }
}
